.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}

.one,.two,.three{
    padding: 10px;
    border: 2px solid black;
    width: 250;
} 

